*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(207, 223, 248);
  
}
.wrapper{
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  max-width: 30rem;
  box-shadow: 0 0 20px 0 rgb(83, 86, 86);
  background-color: rgb(233, 239, 245);

  
}
#title, #timeAndMistakes, #inputs, #grade{
  padding: .75rem;
}
#title{
  text-align: center;
}
#inputs{
  display: flex;
  flex-direction: column;
}
#input{
  min-height: 10rem
}
#reset{
  margin: 1rem auto 0 auto;
  max-width: 10rem;
  min-width: 5rem;
  padding: .5rem;
  background-color: rgb(207, 223, 248);
  border: 0;
}

